<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form (ngSubmit)="onSubmit(fval.value)" #fval="ngForm">
                <div class="row">
                  <div class="col-md-8 form-group">
                      <label for="itemname">Name</label>
                      <input type="text" [ngModel]="item.itemname" class="form-control" name="itemname">
                  </div>
    
                  <div class="col-md-2 form-group">
                      <label for="qty">Quantity</label>
                      <input type="text" [ngModel]="item.quantity" class="form-control" name="quantity">
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="price">Price</label>
                        <input type="text" [ngModel]="item.price" class="form-control" name="price">
                      </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-success" *ngIf="isAdd" type="submit" [disabled]="!fval.valid">Add</button>
                    <button class="btn btn-success"  *ngIf="!isAdd" type="submit" [disabled]="!fval.valid">Update</button>
                    <button class="btn btn-danger"  *ngIf="!isAdd" (click)="onDelete()">Delete</button>
                    <button class="btn btn-primary"  *ngIf="!isAdd" (click)="onClear()">Clear</button>
                  </div>
                </div>
            </form>
        </div>
        
      </div>
      </div>