<div class="row">
    <div class="col-md-12">
        <img src="{{selval?.imgpath}}" width="400" height="400" alt="noimage">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3><span *ngIf="selval?.name">Name:</span>{{selval?.name}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>{{selval?.desc}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4><span *ngIf="selval?.amount">Price:</span>{{selval?.amount | currency :'INR'}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Quantity:{{selval?.qty}}</h4>
    </div>
</div>
<div class="row">
        <div class="col-md-12">
            <h4>Offer:{{selval?.offer | percent}}</h4>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
               <div *ngIf="selval?.items"> Offers:</div>
               <div *ngFor="let item of selval?.items">
                   <div class="list-group-item">{{item.itemname}} ({{ item.quantity}} )=== {{item.price | currency:'INR'}}</div>

                   </div> 
            </div>
        </div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success" (click)="addData()">Add to Cart</button>
        <button class="btn btn-warning">Edit</button>
        <button class="btn btn-danger">Delete</button>
    </div>
</div>